{# The standard frame for all pages. #}
<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" type="text/css" media="screen" href="http://datalove.me/datalove.css" />
<link rel="stylesheet" type="text/css" media="screen" href="/static/css/give.css" />
<link rel="shortcut icon" type="image/x-icon" href="http://datalove.me/datalove-favicon.png" />
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
<script type="text/javascript" src="/static/js/give.js"></script>
<title>~~~~=:) - give.datalove.me - (:=~~~~</title>
</head>
<body>
<div class="menu">
<a href="http://datalove.me/index.html">Principles</a> | <a href="http://datalove.me/images.html">Images</a> | <a href="http://datalove.me/about.html">About</a> | <a href="http://give.datalove.me/">give.datalove</a>

</div>
<div>
    <div id="sidebar">
        <ul>
{% if logged_in %}
            <li><a href="{% url logout %}?next={{ path }}">Logout</a></li>
            <li><a href="{% url manage_account %}">Manage account</a></li>
            <li><a href="{% url history userprofile.username %}">History</a></li>
{% endif %}
            <li><a href="{% url widget_doc %}">Widget for website</a></li>
            <li><a href="http://datalove.me/give/about.html">About give.datalove.me</a>
            <li><a href="{% url users %}">Loverz</a></li>
            <li><a href="http://datalove.me/give/faq.html">FAQ</a></li>
            <li><a href="{% url api__doc %}">API Documentation</a></li>
        </ul>
{% if not logged_in and login_form_needed %}{% include "give/login_box.html" %}{% endif %}
    </div>
    <div id="content">
{% block content %}{% endblock %}
    </div>
    <div class="footer">
    <span style="font-weight:bold">There are {{ total_loverz }} dataloverz registered!</span><br />
    No Copyright, no license. Sorry, no kittehs.<br />
    Version 1.0 - beating heart <br />
    Part of the Telecomix Network.<br />
    <div class="footerrow">
    <a href="http://www.telecomix.org"><img src="http://datalove.me/telecomix.gif" border="0"  align="bottom" align="left" /></a>
    <a href="http://www.kopimi.com"><img src="http://www.kopimi.com/kopimi/k/mkopimi_gay.gif" border="0"  align="bottom" align="left" /></a>
<div class="mails"><span>info [at] datalove [dot] me<br />
info [at] werebuild [dot] eu<br />
info [at] telecomix [dot] org</span></div>
</div>
    </div>

</div>
</body>
</html>


