{# Is loaded on '/manage_account' when a user is logged in. #}
        <p class="love">Manage Account [<a href='{% url profile userprofile.username %}'>{{ userprofile.username }}</a>]</p>
        <p class="abouth">Change user data:</p>
        <form method="post" action="{% url manage_account %}" id="user_form">{% csrf_token %}
            <div class="about" style="padding-left: 2em; text-align: right; width: 450px;">
            {{ user_form.as_p }}
            <input type="hidden" name="ajax_action" value="{% url ajax__manage_account_post form_name='user' %}" />
            <input class="button" type="submit" name="user" value="Change user data." />
            </div>
        </form>
        <p class="abouth">Change Password:</p>
        <form method="post" action="{% url manage_account %}" id="password_form">{% csrf_token %}
            <div class="about" style="padding-left: 2em; text-align: right; width: 450px;">
            {{ password_form.as_p }}
            <input type="hidden" name="ajax_action" value="{% url ajax__manage_account_post form_name='password' %}" />
            <input class="button" type="submit" name="password" value="Change password." />
            </div>
        </form>
        <p class="abouth">Profile:</p>
        <form method="post" action="{% url manage_account %}" id="profile_form">{% csrf_token %}
            Websites:
            <div class="about" style="padding-left: 2em; text-align: right; width: 450px;">
            {{ profile_form.management_form }}
            <ul style="list-style-type: none">
            {% for form in profile_form %}
            {% with website_id=form.fields.id.initial %}
            <li id="profile_website{% if website_id %}{{ website_id }}{% endif %}">
                {{ form.id }}{{ form.url }}{% if website_id %}<a href="{% url manage_account_delete_website id=website_id %}">&ndash;</a>{% else %}<span style="color: #000000; opacity: 0;">&ndash;</span>{% endif %}
                {% for error in form.url.errors %}<span class="errorlist">{{ error|escape }} | </span>{% endfor %}
                {{ form.non_field_errors }}
            </li>
            {% endwith %}
            {% endfor %}
            </ul>
            <input type="hidden" name="ajax_action" value="{% url ajax__manage_account_post form_name='profile' %}" />
            <input class="button" type="submit" name="profile" value="Update Profile" />
            </div>
        </form>
        <p class="abouth"><a href={% url unregister_confirm %}>Unregister</a></p>
