{# Is loaded on '/' when no user is logged in (for AJAX). #}
        <p class="love">give.datalove &mdash; the new way to show your datalove</p>
        <p class="abouth">Welcome to give.datalove.</p>
        <p class="about">
            This website enables you to give and receive datalove from other people all over the world. Even though you don't know them, they can share their love with you.
        </p>
        <p class="about">
            After you have registered you can install a little widget at your website or blog to share the datalove.
        </p>
        <p class="about">
            We hope you have as much fun seeing the datalove grow, as we had creating this site.
        </p>
        <br />
        <p class="about">
            &lt;3 with datalove,
        </p>
        <p class="about">
            The datalove.me team
        </p>
        <!--Place holder-->
        <div style="height: 250px">&nbsp;</div>
