$def with ()
$# The standard frame for all pages.
<div id="content">
<p class="love">give.datalove API</p>
<p class="abouth">Why an API?</p>
<p class="about">We encourage everybody to participate in the growth of
give.datalove. You may use this API to build up your own widgets or
datalove sites.</p>
<p class="abouth">How do I use the API?</p>
<p class="about">It is rather easy. We have some URLs to call to get
back certain information.</p>
<p class="abouth"><tt>http://give.datalove.me/api/users</tt></p>
<p class="about"> Gives back all users of give.datalove.me with their received datalove, in random order.<br />
<br />
HTTP Status of the Response: </p>
<ul>
  <li><tt>200 OK</tt>: All went right. The message's text is the list of users with their received love in random order in an comma seperated value format.</li>
  <li><tt>500 Internal Server Error</tt>: There is an error at our end
of the line. The message's text is an error message and the traceback
of the error. If you want to help make our little project better,
report the error to <a href="https://github.com/authmillenon/give-datalove/issues">https://github.com/authmillenon/give-datalove/issues</a>.
  </li>
</ul>
<br /><p class="abouth"><tt>http://give.datalove.me/api/<i>$$user</i></tt></p>
<p class="about"> Gives back the profile information (username, received datalove, websites) of the
user named <tt><i>$$user</i></tt>.<br />
<br />
HTTP Status of the Response: </p>
<ul>
  <li><tt>200 OK</tt>: All went right. The message's text is the user's
available love.</li>
  <li><tt>500 Internal Server Error</tt>: There is an error at our end
of the line. The message's text is an error message and the traceback
of the error. If you want to help make our little project better,
report the error to <a href="https://github.com/authmillenon/give-datalove/issues">https://github.com/authmillenon/give-datalove/issues</a>.
  </li>
</ul>
<br />

<p class="abouth"><tt>http://give.datalove.me/api/<i>$$user</i>/available_datalove</tt></p>
<p class="about"> Gives back the available datalove to share of the
user named <tt><i>$$user</i></tt>.<br />
<br />
HTTP Status of the Response: </p>
<ul>
  <li><tt>200 OK</tt>: All went right. The message's text is the user's
available love.</li>
  <li><tt>404 Not Found</tt>: There is no user called <tt><i>$$user</i></tt>
in the database. The message's text is an error message.</li>
  <li><tt>500 Internal Server Error</tt>: There is an error at our end
of the line. The message's text is an error message and the traceback
of the error. If you want to help make our little project better,
report the error to <a href="https://github.com/authmillenon/give-datalove/issues">https://github.com/authmillenon/give-datalove/issues</a>.
  </li>
</ul>
<br />
<p class="abouth"><tt>http://give.datalove.me/api/<i>$$user</i>/recieved_datalove</tt></p>
<p class="about"> Gives back the received datalove of the user named <tt><i>$$user</i></tt>.<br />
<br />
HTTP Status of the Response: </p>
<ul>
  <li><tt>200 OK</tt>: All went right. The message's text is the user's
received love.</li>
  <li><tt>404 Not Found</tt>: There is no user called <tt><i>$$user</i></tt>
in the database. The message's text is an error message.</li>
  <li><tt>500 Internal Server Error</tt>: There is an error at our end
of the line. The message's text is an error message and the traceback
of the error. If you want to help make our little project better,
report the error to <a href="https://github.com/authmillenon/give-datalove/issues">https://github.com/authmillenon/give-datalove/issues</a>.
  </li>
</ul>
<br />
<p class="abouth"><tt>http://give.datalove.me/api/<i>$$user</i>/</tt></p>
<p class="about"> Gives back the available (<tt>a</tt>) and received
datalove (<tt>r</tt>) of the user named <tt><i>$$user</i></tt> in the
following format: <tt>a,r</tt>.<br />
<br />
HTTP Status of the Response: </p>
<ul>
  <li><tt>200 OK</tt>: All went right. The message's text is the user's
received love.</li>
  <li><tt>404 Not Found</tt>: There is no user called <tt><i>$$user</i></tt>
in the database. The message's text is an error message.</li>
  <li><tt>500 Internal Server Error</tt>: There is an error at our end
of the line. The message's text is an error message and the traceback
of the error. If you want to help make our little project better,
report the error to <a href="https://github.com/authmillenon/give-datalove/issues">https://github.com/authmillenon/give-datalove/issues</a>.
  </li>
</ul>
<br /><p class="abouth"><tt>http://give.datalove.me/api/users</tt></p>
<p class="about"> Gives back all users of give.datalove.me with their received datalove, in random order.<br />
<br />
HTTP Status of the Response: </p>
<ul>
  <li><tt>200 OK</tt>: All went right. The message's text is <tt><i>$$user</i>,<i>$$receive_datalove</i>,[<i>$$websites</i>]</tt>.</li>
  <li><tt>404 Not Found</tt>: There is no user called <tt><i>$$user</i></tt>
in the database. The message's text is an error message.</li>
  <li><tt>500 Internal Server Error</tt>: There is an error at our end
of the line. The message's text is an error message and the traceback
of the error. If you want to help make our little project better,
report the error to <a href="https://github.com/authmillenon/give-datalove/issues">https://github.com/authmillenon/give-datalove/issues</a>.
  </li>
</ul>
<br />
<p class="abouth"><tt>http://give.datalove.me/api/login</tt></p>
<p class="about"> Logging in a user, i. e. associating him with a
session on the server. This request must be send as a POST request with
<tt><i>nickname</i></tt> and <tt><i>password</i></tt> in the query.<br />
<br />
HTTP Status of the Response: </p>
<ul>
  <li><tt>200 OK</tt>: All went right. The message's text is the user's
new session ID.</li>
  <li><tt>400 Bad Request</tt>: The <tt><i>$$nickname</i></tt> and <tt><i>$$password</i></tt>
are not associated. The message's text is an error message.</li>
  <li><tt>401 Unauthorized</tt>: The server got an illegal session ID.
The message's text is an error message.</li>
  <li><tt>404 Not Found</tt>: You have tried to use GET to log in. You
must use POST</li>
  <li><tt>412 Precondition Failed</tt>: Some preondition was not met.
The message's text is an error message describing what to do.</li>
  <li><tt>500 Internal Server Error</tt>: There is an error at our end
of the line. The message's text is an error message and the traceback
of the error. If you want to help make our little project better,
report the error to <a href="https://github.com/authmillenon/give-datalove/issues">https://github.com/authmillenon/give-datalove/issues</a>.
  </li>
</ul>
<br />
<p class="abouth"><tt>http://give.datalove.me/api/<i>$$user</i>/give_datalove?sid=<i>$$session_id</i></tt></p>
<p class="about">will give datalove to this user $$user</p>
<p class="about"> Giving a user named <tt><i>$$user</i></tt> 1
datalove. This request needs the giving user to be logged in and his
session ID <tt><i>$$session_id</i></tt> must be in the query as shown.
Alternatively you can send the session ID send as a cookie called <tt>'give_datalove_session_id'</tt><br />
<br />
HTTP Status of the Response: </p>
<ul>
  <li><tt>200 OK</tt>: All went right. The message's text is the user's
new session ID.</li>
  <li><tt>401 Unauthorized</tt>: The session ID is not associated to a
user, i. e. the user is not logged in. The message's text is an error
message.</li>
  <li><tt>404 Not Found</tt>: There is no user called <tt><i>$$user</i></tt>
in the database. The message's text is an error message.</li>
  <li><tt>412 Precondition Failed</tt>: Some preondition was not met.
The message's text is an error message describing what to do.</li>
  <li><tt>500 Internal Server Error</tt>: There is an error at our end
of the line. The message's text is an error message and the traceback
of the error. If you want to help make our little project better,
report the error to <a href="https://github.com/authmillenon/give-datalove/issues">https://github.com/authmillenon/give-datalove/issues</a>.
  </li>
</ul>
<br />
