$def with (nickname, email, websites, session_id = None, email_change_error = None, pw_change_error = None, website_change_error = None)
$# Is loaded as content on /manage_account (with index.html template).
        <style type="text/css">
            input, textarea {
                border: #ffffff 1pt solid;
                background-color: #000000;
                font-family: monospace;
                color: #ffffff;
                margin: 2px;
            }
            
            input.button {
                border-left: #ffffff 2pt solid;
                border-top: #ffffff 2pt solid;
                border-right: #aaaaaa 2pt solid;
                border-bottom: #aaaaaa 2pt solid;
                background-color: #000000;
                font-family: "Lucida Sans","DejaVu Sans","Bitstream Vera Sans","Liberation Sans",Verdana,"Verdana Ref",sans-serif;
                font-weight: bold;
                color: #ffffff;
                margin: 2px;
            }
        </style>
        $if session_id:
            <p class="love">Manage Account [<a href='/?sid=$session_id'>$nickname</a>]</p>
        $else:
            <p class="love">Manage Account [<a href='/'>$nickname</a>]</p>
        <p class="abouth">Change email address:</p>
        <form method="post" action="#">
            <div class="about" style="padding-left: 2em; text-align: right; width: 400px;">
                $if session_id:
                    <input type="hidden" name="sid" value="$session_id">
                Email address: 
                $if email:
                    <input type="text" name="email" value="$email"/><br />
                $else:
                    <input type="text" name="email"/><br />
                $if email_change_error:
                    <div style="font-size: 75%;color: #ff0000;margin-bottom: 2px;text-align: left;">
                        $email_change_error
                    </div>
                <input class="button" type="submit" name="change_mail" value="Change email address" />
            </div>
        </form>
        <p class="abouth">Change Password:</p>
        <form method="post" action="#">
            <div class="about" style="padding-left: 2em; text-align: right; width: 400px;">
                $if session_id:
                    <input type="hidden" name="sid" value="$session_id">
                Old Password: <input type="password" name="old_password" /> <br />
                New Password: <input type="password" name="new_password" /> <br />
                Confirm New Password: <input type="password" name="new_password_conf" /> <br />
                $if pw_change_error:
                    <div style="font-size: 75%;color: #ff0000;margin-bottom: 2px;text-align: left;">
                        $pw_change_error
                    </div>
                <input class="button" type="submit" name="change_pw" value="Change password"/>
            </div>
        </form>
        
        <p class="abouth">Profile:</p>
        <form method="post" action="#">
            <div class="about" style="padding-left: 2em; text-align: right; width: 400px;">
                $if session_id:
                    <input type="hidden" name="sid" value="$session_id">
                Websites (one per line):
                <textarea name="websites" cols="50" rows="10">$websites</textarea><br />
                <span style="font-size: 75%;margin-bottom: 2px;text-align: left;">(The Website where your widget is placed)</span><br />
                $if website_change_error:
                    <div style="font-size: 75%;color: #ff0000;margin-bottom: 2px;text-align: left;">
                        $website_change_error
                    </div>
                <input class="button" type="submit" name="profile" value="Update Profile"/>
            </div>
        </form>
        <p class="abouth">Delete account:</p>
        $if session_id:
            <p class="about"><a href="/unregister?sid=$session_id">Do it!</a></p>
        $else:
            <p class="about"><a href="/unregister">Do it!</a></p>
