$def with (nickname, user, error, logged_in = False, login_block = True, session_id = None)
        <p class="love">Username: $nickname</p>
        <p class="about">Recieved love: $user.received_love</p>
        $if user.website:
            <p class="about">Website: <a href="$user.website" target="_blank">$user.website</a></p>
        $if error: 
            <p style="font-size: 75%;color: #ff0000;margin-bottom: 2px;text-align: left;">$error</p>
        $if logged_in and session_id:
                <a href="/user_give_${nickname}_datalove?sid=$session_id">Give love!</a>
        $if logged_in and not session_id:
                <a href="/user_give_${nickname}_datalove">Give love!</a>
