<form 	name="me.datalove.give.register_form" 
		class="me.datalove.give.register_form" 
		method="post" 
		action="register_action">
	<div id="nickname_field">Nickname*: <input type="text" name="nickname" /></div>
	<div id="password_field">Password*: <input type="password" name="password" /></div>
	<div id="password_field">Confirm Password*: <input type="password" name="conf_password" /></div>
	<div id="email_field">E-mail: <input type="text" name="email" /></div>
	<div id="submit_button"><input type="submit" value="Register" /></div>
	* This field is mandatory. Note that password recovery is not possible without an e-mail address
</form>
