$# Is loaded as content on / (with index.html template) if no user is logged in.
		<p class="love">Welcome to give.datalove.me!</p>
		<p class="abouth">What is give.datalove about?</p>
		<p class="about">We know many internet systems, where you can give points to other users. In this closed systems, normally the points run out and you have to do something to be able to get new points and do something with them.</p>
		<p class="about">In this system, the datalove points never run out. You start with a certain amount and as soon as you recieve datalove points, you will be able to do the action without losing the already gained points.</p>

		<p class="abouth">Is it all about love?</p>
		<p class="about">Yes, it is all about love. Love is something the world never runs out of. The moment you receive someone's love, you give back love to others. The amount you have does not decrease. With every person you send love, the world-wide amount is increasing - and the only limit is the database!</p>
		<p class="abouth">Data is as immaterial as love and thus can not run out!</p>
		<p class="abouth">What data do you store?</p>
		<p class="about">We save the user names, the passwords, the amount of available datalove and the amount of recieved datalove. Furthermore we save a Session ID. In case you provided an email adress, we save this too but will only use it if you request a password reset. No other data is saved.</p>
		<p class="abouth">In case I use the widget - which data is stored from the visitors of my site?</p>

		<p class="about">No data is stored. We do not believe in Logs.</p>
		<p class="abouth">I have no more datalove to give to others, what should I do?</p>
		<p class="about">There are two ways to recieve datalove points to earn: </p>
		<p class="about">One way is to wait till the 1st of a month. Every user automaticaly gains 5 datalove points. The other one is to wait till someone gives you datalove, which you can then give to others.</p>
		<p class="abouth">Is there a highscore list?</p>
		<p class="about">No, give.datalove.me is not a race</p>

		<p class="abouth">What can I do with datalove points?</p>
		<p class="about">Nothing. It is just to show that love in this closed sytem will never run out :)</p>
		<p class="about">You can be happy and show others that you love them, and you are sensitive to the spirit of datalove.me.</p>
