$def with (nickname)
		<p class="love">give.datalove widget</p>
		<p class="abouth">What to do with this widget?</p>
		<p class="about">We provide one widget to integrate into your website or into your blog and enter your username at the end. It looks like this:</p>
		<p class="about"><iframe src="http://give.datalove.me:8080/widget?user=$nickname" width="70" height="71"></iframe></p>
		<p class="abouth">How do I integrate this widget?</p>
		<p class="about">Is is very easy. Just put this one line of code into your website or on your blog:</p>
		<p class="about"><pre>&lt;iframe src="http://give.datalove.me:8080/widget?user=$nickname" width="70" height="71"&gt;&lt;/iframe&gt;</pre></p>
		<p class="abouth">Are there more widgets?</p>
		<p class="about">Not yet, but we hope that people create some so that we can upload them here and provide them to the users.</p>
		<p class="abouth">I created one! How do I get it here?</p>
		<p class="about">This is rather simple. Just mail it to info [at] datalove [dot] me</p>
