{% extends "give/index.html" %}
{% block content %}
        <p class="love">Username: {{ profile.user.username }}</p>
        <p class="about">Received love: {{ profile.received_love }}</p>
        {% if profile.websites.all|length > 0 %}
            <p class="about">
                Websites: 
                <ul>
                    {% for website in profile.websites.all %}<li><a href="{{ website.url }}" target="_blank">{{ website.url }}</a></li>
                    {% endfor %}
                </ul>
            </p><br />
        {% endif %}
        {% if error %}<p style="font-size: 75%;color: #ff0000;margin-bottom: 2px;text-align: left;">{{ error }}</p>{% endif %}
        {% if logged_in and user != profile.user %}<a href="/user/{{ profile.user.username }}/give_datalove">Give love!</a>{% endif %}
{% endblock %}
